#!/usr/bin/env nextflow

/*
------------------------------------------------------------------------------------------------------------
			 SP_cube Pipeline - Reprohackathon
------------------------------------------------------------------------------------------------------------

	Staphylococcus Persistence Profiling Pipeline. M2 AMI2B

	#### Homepage / Documentation
	https://gitlab.dsi.universite-paris-saclay.fr/fiona.hak/reprohackathon

	#### Authors
	Celine Guo
	Shun Robert
	Elora Vigo
	Fiona Hak
	#### Version : 1.0.0

------------------------------------------------------------------------------------------------------------
*/

docker {
    enabled = true
}

process {
    maxRetries=1
    errorStrategy='retry'

    withLabel: linux {
        cpus = '2'
    }
    withLabel: sratoolkit {
        container = 'fionahak/sratoolkit_s3p:v0.0.1'
        cpus = '4'
    }
    withLabel: cutadapt {
        container = 'fionahak/trimming_s3p:v0.0.1'
        cpus = '4'
    }
    withLabel: bowtie {
        container = 'fionahak/align_s3p:v0.0.1'
        cpus = '8'
    }
    withLabel: subread {
        container = 'fionahak/subread_s3p:v0.0.1'
        cpus = '6'
    }
}

params {
    results = "results"

	sra = "./bin/sra.txt"
	reference_genome = "none"
	reference_annotation = "none"

	threads_download = 4
	threads_mapping = 8
	threads_sort_bam = 4
	threads_counting = 4

	help = false
}