#!/usr/bin/env nextflow

/*
------------------------------------------------------------------------------------------------------------
			 S3P Pipeline - Reprohackathon
------------------------------------------------------------------------------------------------------------

	Staphylococcus Persistence Profiling Pipeline. M2 AMI2B

	#### Homepage / Documentation
	https://gitlab.dsi.universite-paris-saclay.fr/fiona.hak/reprohackathon

	#### Authors
	Celine Guo
	Shun Robert
	Elora Vigo
	Fiona Hak
	#### Version : 1.0.0

------------------------------------------------------------------------------------------------------------
*/

docker {
    enabled = true
}

process {
    maxRetries=30
    errorStrategy='retry'

    withLabel: sratoolkit {
        container =		'staphb/sratoolkit:latest'
        cpus =			'3'
    }
}

params {
    results = "results"

    initializeFolders = false

	sra = "./bin/sra.txt"

	help = false
}