#!/usr/bin/env nextflow

/*
------------------------------------------------------------------------------------------------------------
			 S3P Pipeline - Reprohackathon
------------------------------------------------------------------------------------------------------------

	Staphylococcus Persistence Profiling Pipeline. M2 AMI2B

	#### Homepage / Documentation
	https://gitlab.dsi.universite-paris-saclay.fr/fiona.hak/reprohackathon

	#### Authors
	Celine Guo
	Shun Robert
	Elora Vigo
	Fiona Hak
	#### Version : 1.0.0

------------------------------------------------------------------------------------------------------------
*/

docker {
    enabled = true
}

process {
    maxRetries=0
    errorStrategy='retry'

    withLabel: sratoolkit {
        container = 'fionahak/sratoolkit_s3p:v0.0.1'
        cpus = '4'
    }

    withLabel: cutadapt {
            container = 'rozanskide/trim_galore:latest'
            cpus = '4'
        }
}

params {
    results = "results"

	sra = "./bin/sra.txt"

	help = false
}